* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 0.5fr);
    width: 100vw;
    height: 100vh;
}

header {
    display: grid;
    grid-template-rows: repeat(2, fr);
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    
}

aside {
    grid-column: 1 / 1;
    grid-row: 1 / 12;
    background-color: yellow;
}

main {
    grid-column: 2 / 5;
    grid-row: 3 / 12;
    background-color: greenyellow;
}

.first-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row: 1 / 2;
}

.search-form {
    display: flex;
    align-items: center;
}

#search-field {
    width: 27rem;
    height: 1.5rem;
    align-self: center;
    border: none;
    border-radius: 20px;
    background-color: rgb(201, 201, 201);
    padding-left: 1em;
}

#search-field:focus {
    outline: none;
    border: none;    
}

#search-button {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2.5%;
}

.notifications {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: -15%;
    margin-left: 4%;
}

.second-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.greetings {
    display: flex;
    justify-content: center;
        width: 50%;

}

.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.btn {
    width: 5rem;
    height: 1.7rem;
    outline: none;
    background-color: rgb(82, 80, 219);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.your-projects {
    grid-column: 1 / 4;
    background-color: rgb(255, 94, 255);
}

.side-fields {
    grid-column: 4 / 5;
    background-color: rgb(21, 255, 0);
}