* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 0.5fr);
    width: 100vw;
    height: 100vh;
}

header {
    display: grid;
    align-items: center;
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    background-color: rgb(62, 62, 255);
}

aside {
    grid-column: 1 / 1;
    grid-row: 1 / 12;
    background-color: yellow;
}

main {
    grid-column: 2 / 5;
    grid-row: 3 / 12;
    background-color: greenyellow;
}

.first-header {
    display: flex;
    justify-content: space-around;

    grid-row: 1 / 2;
}