* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 0.5fr);
    width: auto;
    height: 100vh;
}

header {
    display: grid;
    grid-template-rows: repeat(2, fr);
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    
}

.first-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row: 1 / 2;
}

.search-form {
    display: flex;
    align-items: center;
}

#search-field {
    width: 27rem;
    height: 1.5rem;
    align-self: center;
    border: none;
    border-radius: 20px;
    background-color: rgb(201, 201, 201);
    padding-left: 1em;
}

#search-field:focus {
    outline: none;
    border: none;    
}

#search-button {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2.5%;
}

.notifications {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: -12%;
    margin-left: 4%;
}

.profile {
    display: flex;
    align-items: center;
}

.user-photo {
    width: 2rem;
    height: 2rem;
}

.second-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.greetings {
    display: flex;
    justify-content: center;
        width: 50%;

}

.profile-photo {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 5%;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.btn {
    width: 5rem;
    height: 1.7rem;
    outline: none;
    background-color: rgb(82, 80, 219);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

aside {
    grid-column: 1 / 1;
    grid-row: 1 / 12;
    margin-top: 5%;
}

.dashboard-title {
    display: flex;
    margin-left: 1rem;
}

.dashboard-h-img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 3%;
}

.sidebar {
    display: grid;
    height: 70vh;
    margin-top: 10%;
    margin-left: 1rem;
    list-style: none;
}

.sidebar li a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

.sidebar-img {
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 0.7rem;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2 / 5;
    grid-row: 3 / 12;
}

.your-projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-column: 1 / 4;
    padding: 1.5rem;
}

.your-projects-h {
    width: 100%;
    margin-left: 01rem;
}

.project {
    width: 20rem;
    height: 15rem;
    border: 0.5px solid grey;
    border-radius: 15px;
    margin-top: 1.5rem;
}

.side-fields {
    display: inline-flex;
    flex-direction: column;
    grid-column: 4 / 5;
    background-color: rgb(21, 255, 0);
}

.other-field {
    height: 40%;
    border: 0.5px solid grey;
    padding: 1rem;
    padding-top: 2rem;
}

.side-field {
    width: auto;
    height: max-content;
    padding: 1rem;
    padding-top: 28px;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 15px;
    margin-top: 1.6rem;
}

.trend {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: auto;
    align-items: start;
    margin-bottom: 20px;
}

.trend-info {
    grid-column-start: 2;
    grid-column-end: 4;
}

.trend-img {
    width: 2.4rem;
    height: 2.4rem;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;
}